body {
    /* background-color: rgb(226, 235, 243); */
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
}
.avatar {
    width: 300px;
}

.header__title {
    font-size: 28px;
}
.header__subtitle {
    color: rgb(79, 155, 221);
}

main {
    border: 1px solid darkblue;
    text-align: center;
}

.skills ol {
    list-style: none;
}

.separator {
    width: 50%;
    height: 3px;
    background-color: rgb(122, 164, 243);
}

.video {
    width: 800px;
    height: 490px;
    border: none;
}

.hobbies ol{
    list-style: none;
}

.ed__table {
    border-collapse: collapse;
    width: 100%;
}

.ed__table th,
.ed__table td {
    border: 1px solid black;
    padding: 10px;
}

.quote {
    font-size: 20px;
}


.form {
    width: 300px;
    margin: 0 auto;
}

.form__control {
    width: 100%;
}

.control--text {
    width: 50%;
}

.form__submit {
    display: block;
    margin: 0 auto;
}

footer {
    height: 100px;
    text-align: center;
    background-color: antiquewhite;
}

.contacts__link {
    text-decoration: none;
    color: black;
}